@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}

.navbar{
    background-color:#64f8ee;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 70px;
    
}

.icon{
    padding-top: 10px;
    font-size: 40px;
    font-weight: 800;
    color: #000;
    cursor: pointer;
}
.navbar ul{
    display: inline-flex;
    list-style: none;
    color: #000;
}
.navbar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.navbar ul li a{
    text-decoration: none;
    color:#000;
}
 .navbar ul li:hover{
    background:#8b8989;
    border-radius: 3px;
}

.dropdown{
    display: none;
}
.navbar ul li:hover .dropdown{
    display: block;
    position: absolute;
    background-color:#64f8ee;
    margin-top: 15px;
    margin-left: -15px;
}

.navbar ul li:hover .dropdown ul{
    display: block;
    margin: 10px;
}

.navbar ul li:hover .dropdown ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #292929;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.navbar ul li:hover .dropdown ul li:last-child{
    border-bottom: none;
}

.navbar ul li:hover .dropdown ul li a:hover{
    color: #292929;
}
.dropdown-2{
    display: none;
}
.hover-me:hover .dropdown-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background-color: #64f8ee;
}

section{
    background:url(../images/index3.jpg);
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    top: 0;
    z-index: -1;
    filter: brightness(30%);
}